OLLAMA_URL=http://192.168.2.35:11434
OLLAMA_MODEL=qwen3.5

# Ganti dengan domain ERP kamu, pisahkan koma jika lebih dari satu
# Contoh: http://hasta.crabdance.com:16132,http://localhost:8080
# Gunakan * untuk allow semua origin (tidak disarankan di production)
ALLOWED_ORIGINS=*
